<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi" xml:lang="vi">
<head>
    <meta charset="UTF-8">
    <title>#{email.title}</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<div>
    <p>Xin chào <span th:text="${saleName}"></span>!</p>
    <p>Chào mừng bạn đến với Sapo Market!</p>
    Đây là thông tin đăng nhập của bạn:<br>
    - Email:&nbsp;<span th:text="${email}"></span><br>
    - Password:&nbsp;<span th:text="${password}"></span><br>
</div>
<div style="width:100%;background-color:white;padding: 20px 30px 0 0;border-top:1px solid #ddd">
    <div style="float:left;padding-top: 10px;"><img src="https://tenant.mysapo.vn/images/sapo.png" alt=""/></div>
    <div style="float:left;padding-left:50px;font-size:14px">
        <div style="font-weight: bold; padding: 2px; color: #606060; text-align: left;">Công ty Cổ phần Công nghệ Sapo
        </div>
        <div style="color: rgb(96, 96, 96); padding: 2px; text-align: left;"><em>Trụ sở:</em> Tầng 6 - Tòa nhà Ladeco -
            266 Đội Cấn - Phường Liễu Giai - Quận Ba Đình - Hà Nội
        </div>
        <div style="color: rgb(96, 96, 96); padding: 2px; text-align: left;"><em>Chi nhánh:</em> Lầu 3 - Tòa nhà Lữ Gia
            - Số 70 Lữ Gia - Phường 15 - Quận 11 - Hồ Chí Minh
        </div>
        <div style="color: rgb(96, 96, 96); padding: 2px; text-align: left;"><em>Tổng đài hỗ trợ khách hàng:</em>&nbsp;1800
            6750 - Email: support@sapo.vn
        </div>
    </div>
</div>
</body>
</html>
